.header {
    &.open { // Animation on Hamburger menu click
        .header__hamburger__menu {
            > span:first-child {
                transform: rotate(45deg);
            }
            > span:nth-child(2) {
                opacity: 0;
            }
            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    nav {
        position: relative;
        background-color: $white;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }
    &__logo{ // Logo
        transform: translateY(0px);
        transition: transform 100ms ease-in-out ;
        img {
            width: 8.375rem;
            height: 1.625rem;
            object-fit: contain;
        }
        &:hover{
            transform: translateY(-3px);
        }
    }
    &__hamburger__menu { // Mobile Menu
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 4.9px 1px;
            &:not(:last-child){
                margin-bottom: 4px;
            }
        }
    }
    &__links {
        a {
            position: relative;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;
            &:not(:last-child){
                margin-right: 2rem;
            }
            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 5px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                left: 0;
                right: 0;
                bottom: -35px;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }
            &:hover{
                color: $darkBlue;
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    .overlay {
        z-index: 1;
        opacity: 0;
        position: fixed;
        top: 4.0625rem;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient($darkBlue, transparent);
    }
    &__menu{
        z-index: 2;
        position: absolute;
        margin-top: 1.5rem;
        padding: 1.625rem;
        border-radius: 5px;
        background-color: $white;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        a {
            padding: 0.625rem;
            display: block;
            color: $darkBlue;
            text-align: center;
        }
    }
}